{# https://docs.djangoproject.com/en/1.11/ref/templates/language/ #}
{% extends "base.html" %}
{% block content %}
<section style="width:100%">
  <div style="width:45%;float:left;">
    <h1>Skill List</h1>

    {% for skill,data in skill_list.items %}
      <h2>{{ skill|title }}</h2>
      <table style="width: 350px">
      <tr>
        <th>Attribute:</th>
        <td>{{ data.attribute|title }}</td>
        <th>Default:</th>
        <td>{{ data.default|title }}</td>
      </tr>
      <tr>
        <th>Group:</th>
        <td>{{ data.group|title }}</td>
        <th>Category:</th>
        <td>{{ data.category|title }}</td>
      </tr>
      <tr>
        <th valign="top">Description:</th>
        <td colspan="3">{{ data.description }}</td>
      </tr>
      <tr>
        <th valign="top">Specializations:</th>
        <td colspan="3">{{ data.specs }}</td>
      </tr>
      <tr>
        <th valign="top">Source:</th>
        <td colspan="3">{{ data.source }}</td>
      </tr>
      </table>
    {% empty %}
      <p>We're missing some skills.</p>
    {% endfor %}

  </div>

  <div style="width:50%;margin-left:50%;">
    <ul style="width:30%;display:inline-block;vertical-align:top">
      <h3>Skill Categories</h3>
      {% for category,skills in skill_categories.items %}
      <li>
        <b>{{ category|title }}</b>
        <ul>
          {% for skill in skills %}
            <li>{{ skill|title }}</li>
          {% endfor %}
        </ul>
      </li>
      {% empty %}
        <li>No content.</li>
      {% endfor %}
    </ul>

    <ul style="width:30%;display:inline-block;vertical-align:top">
      <h3>Skill Groups</h3>
      {% for group,skills in skill_groups.items %}
      <li>
        <b>{{ group|title }}</b>
        <ul>
          {% for skill in skills %}
            <li>{{ skill|title }}</li>
          {% endfor %}
        </ul>
      </li>
      {% empty %}
        <li>No content.</li>
      {% endfor %}
    </ul>

    <ul style="width:30%;display:inline-block;vertical-align:top">
      <h3>Skill Attributes</h3>
      {% for attr,skills in skill_attr.items %}
      <li>
        <b>{{ attr|title }}</b>
        <ul>
          {% for skill in skills %}
            <li>{{ skill|title }}</li>
          {% endfor %}
        </ul>
      </li>
      {% empty %}
        <li>No content.</li>
      {% endfor %}
    </ul>
  </div>
</section>
{% endblock %}
